.section-6 {
  background: linear-gradient(90deg, #FEF8EC 5%, #FFFCF9 70%);
  position: relative;
  padding-top: 3rem; // Padding responsivo
  padding-bottom: 3rem;

  .h2 {
    font-size: 1.75rem;
    line-height: 38px;
    text-align: left; // Centrar el título en pantallas pequeñas
    //margin-bottom: 1rem; // Espacio inferior
    font-weight: 500;
    letter-spacing: -2;
    color: #4d4d4d
  }

  .imag {
    display: flex;
    justify-content: center;
  }

  .img-section-6 {
    height: auto;
  }

  .list-bullet-check {
    padding-top: 1rem;
    padding-bottom: 20px;
    li {
      padding-bottom: 0.5rem;
      font-size: 1rem;
      line-height: 19px;
      font-weight: 400;
    }
  }

  // Pseudo-elemento (revisar su uso)
  &::after {
    content: ""; // Necesario para que se muestre
    display: none; // Ocultar por defecto
    position: absolute;
    // ... (Estilos que tenías, pero considera si son necesarios y responsivos)
    // @include wh(223px, 153px);
    // top: 185px !important;
    // right: -140px;
  }
}

// Media Queries

@media (min-width: 360px) {
  .section-6 {
    min-height: 100vh; // 🟢 fuerza la altura total de pantalla
    display: flex;
    flex-direction: column;
    justify-content: space-between; // 🟢 distribuye contenido

    li {
      padding-bottom: 16px;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
    }
    .h2 {
      font-size: 1.75rem;
      line-height: 38px;
      text-align: left;
      padding-bottom: 16px !important;
      margin-bottom: 0px;
      text-justify: initial;
    }
    .container-fluid {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .list-bullet-check {
      li {
        // font-size: 0.85rem;
        line-height: 24px;
        padding-bottom: 0.4rem;
        line-height: 1.75rem;
      }
    }

    .img-section-6 {
      max-width: 260px;
      margin: 1rem auto 0 auto;
    }

    .img-fluid {
      max-width: unset;
      width: 430px;
      height: auto;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-6 {
    padding: 0vw 0 3vw 0;

    .divMejor {
      padding-left: 32px;
    }

    .h2 {
      padding-top: 32px;
      font-size: 1.75rem;
      line-height: 38px;
      text-align: left; // Alinear a la izquierda en pantallas medianas
      padding-bottom: 16px;
    }
    .list-bullet-check li {
      line-height: 1.75rem;
    }

    .img-section-6 {
      // max-width: 600px;
      max-width: 100%; // Imagen flexible
      width: 100%;
      height: auto;
      padding-top: 48px;
      padding-bottom: 48px;
      align-self: center;
    }
    .img-fluid {
      max-width: 110% !important;
      translate: -25px 25px;
    }

    .list-bullet-check {
      li {
        font-size: 16px;
        padding-bottom: 16px;
      }
    }

    &::after {
      display: block; // Mostrar el pseudo-elemento en pantallas medianas
    }
  }
}

@media (min-width: $size-lg) {
  .section-6 {
    padding: 72px 0; // Ajustar padding para pantallas grandes

    .h2 {
      font-size: 28px;
      line-height: 44px;
      padding-bottom: 0px;
    }

    .list-bullet-check {
      li {
        font-size: 1.1rem;
      }
    }
  }
}

@media (min-width: $size-xxl) {
  .section-6 {
    padding: 40px 0; // Volver a píxeles si es necesario para pantallas muy grandes

    .h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }

    .img-section-6 {
      max-width: 550px;
      padding: 20px 0 0 0;
    }

    .img-fluid {
      max-width: unset;
      width: 550px;
      height: auto;
    }
  }
}

  /* Large (992px - 1399px) */

  @media (min-width: 992px) and (max-width: 1399px) {
    .section-6 {
      .divMejor {
        padding-left: 32px;
      }
      .img-fluid {
        max-height: 500px;
      }
      .h2 {
        font-size: 32px !important;
        line-height: 44px;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
      }
      .list-bullet-check {
        
        li {
          font-size: 16px;
          padding-bottom: 16px;
          padding-top: 0px;
          line-height: 22px;
          
        }
      }
    }
  }


@media (min-width: 1400px) {
  .section-6 {
    .divMejor {
      padding-left: 32px;
    }

    .img-fluid {
      max-height: 500px;
    }
    .h2 {
      font-size: 32px !important;
      line-height: 44px;
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      padding-right: 72px;
    }
    .list-bullet-check {
      
      li {
        font-size: 16px;
        padding-bottom: 16px;
        padding-top: 0px;
        line-height: 22px;
        
      }

  
    }
  }

}