.h2 {
    font-size: 2rem !important;
    padding-bottom: 15px !important;
    font-weight: 500 !important;
}

@media (min-width: $size-xl) {
    .h2 {
        font-size: 2rem !important;
        line-height: 2.75rem;
    }
}

.card-groud-n3 .card .card-body {
    text-align: center !important;
}
.card-groud-n3 .card {
    display: flex;
    align-items: center;
    justify-content: center;
}