.section-4 {
  background: #e5f8ea;
  position: relative;
  padding-top: 3.75vw; // Padding responsivo
  padding-bottom: 3.75vw;

  .h2 {
    font-size: 2rem; // Tama침o de fuente base
    line-height: 44px;
    text-align: left; // Centrar el t칤tulo en pantallas peque침as
    //margin-bottom: 1rem; // Espacio inferior
    font-weight: 700;
    letter-spacing: -2;
  }

  .imag {
    display: flex;
    justify-content: center;
  }

  .img-section-4 {
    max-width: 100%; // Imagen flexible
    width: 100%;
    height: auto;
  }

  .list-bullet-check {
    padding-top: 1rem;
    padding-bottom: 2rem;

    li {
      padding-bottom: 0.5rem;
      font-size: 1rem;
      line-height: 19px;
      font-weight: 400;
    }
  }

  // Pseudo-elemento (revisar su uso)
  &::after {
    content: ""; // Necesario para que se muestre
    display: none; // Ocultar por defecto
    position: absolute;
    // ... (Estilos que ten칤as, pero considera si son necesarios y responsivos)
    // @include wh(223px, 153px);
    // top: 185px !important;
    // right: -140px;
  }
}

// Media Queries


@media (min-width: 360px) {
  .section-4 {
    min-height: 100vh; // 游릭 fuerza la altura total de pantalla
    display: flex;
    flex-direction: column;
    justify-content: space-between; // 游릭 distribuye contenido

    li {
      padding-bottom: 16px;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
    }
    .h2 {
      font-size: 28px ;
      line-height: 32px ;
      text-align: left;
      padding-bottom: 16px !important;
      margin-bottom: 0px;
      text-justify: initial;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .container-fluid {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .row {
      flex-grow: 1;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
    }

    .list-bullet-check {
      li {
        font-size: 0.85rem;
        line-height: 1.2rem;
        padding-bottom: 0.4rem;
      }
    }

    .img-section-4 {
      max-width: 260px;
      margin: 1rem auto 0 auto;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-4 {
    padding: 3vw 0;

    .h2 {
      padding-top: 32px;
      font-size: 28px;
      line-height: 32px;
      text-align: left; // Alinear a la izquierda en pantallas medianas
      padding-bottom: 16px;
    }
    .list-bullet-check li {
      line-height: 24px;
    }

    .img-section-4 {
      // max-width: 600px;
      max-width: 100%; // Imagen flexible
      width: 100%;
      height: auto;
      padding-top: 48px;
      padding-bottom: 48px;
      align-self: center;
     
    }
    .img-fluid {
     
      max-width: 110% !important;
    }

    .list-bullet-check {
      li {
        font-size: 16px;
        padding-bottom: 16px;
      }
    }

    &::after {
      display: block; // Mostrar el pseudo-elemento en pantallas medianas
    }
  }
}

@media (min-width: $size-md) {
  
}

@media (min-width: $size-lg) {
  .section-4 {
    padding: 2vw 0; // Ajustar padding para pantallas grandes

    .h2 {
      font-size: 28px;
      line-height: 44px;
      padding-bottom: 0px;
    }

    .list-bullet-check {
      li {
        font-size: 1.1rem;
      }
    }
  }
}

@media (min-width: $size-xxl) {
  .section-4 {
    padding: 10px 0; // Volver a p칤xeles si es necesario para pantallas muy grandes

    .h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }

    .img-section-4 {
      max-width: 550px;
      padding: 20px 0 0 0;
    }
  }

 
  @media (min-width: 1400px) {
    .img-fluid {
      max-height: 500px;
    }
    .h2 {
      font-size: 28px;
      line-height: 44px;
      padding-bottom: 0px;
      padding-top: 0px !important;
    }
  }
}
