.seccion7 {
    background: #FFFFFF;
    padding-top: 72px;
    padding-bottom: 72px;
    .h2 { 
        font-size: 2rem;
        line-height: 44px;
        font-weight: 700;
        letter-spacing: -2;
        
        }
}

