.section-7 {
  background-color: #ffffff;
  color: #4d4d4d;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .h2 {
    font-size: $h2-font-size-mobile;
    line-height: $h2-line-height-mobile;
    font-weight: $font-weight-semi-bold;
    letter-spacing: $letter-spacing;
    padding-bottom: 24px;
  }

  .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
  }

  .questions {
    padding-left: 12.7px;
    padding-right: 12.7px;
  }

  .accordion-body {
    padding: 0;
    padding-top: 10px;
    background-color: #ffffff;
  }
}

.qs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  p {
    font-size: $p-font-size-mobile !important;
  }
}

.p {
  margin: 0;
  padding-bottom: 2rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: $p-font-size-mobile;
  line-height: $p-line-height-mobile;
}

.desktopBreadcrumbs {
  display: none;
}

// Media Queries

@media (min-width: 768px) {
  .section-7 {
    .h2 {
      padding-bottom: 24px;
    }
    .p {
      padding-bottom: 32px;
    }
  }
}

@media (min-width: 1000px) {
  .section-7 {
    padding-top: 72px;

    .h2 {
      font-size: $h2-font-size-desktop;
      line-height: $h2-line-height-desktop;
      font-weight: $font-weight-bold;
      letter-spacing: $letter-spacing;
      padding-bottom: 24px;
    }
  }
}