.h2 {
    font-size: $h2-font-size-mobile !important;
    padding-bottom: 15px;
    font-weight: $font-weight-semi-bold !important;
}

.card-groud-n3 .card .card-body {
    text-align: center !important;
}

.card-groud-n3 .card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.relacionadosSection {
    padding: 48px 0;
}

@media (min-width: $size-lg) {
    .h2 {
        font-size: $h2-font-size-desktop !important;
        line-height: $h2-line-height-desktop;
        letter-spacing: $letter-spacing;
    }

    .relacionadosSection {
        padding: 72px 0;
    }
}