.section-6 {
  background: linear-gradient(90deg, #FEF8EC 5%, #FFFCF9 70%);
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;

  .h2 {
    font-size: $h2-font-size-mobile;
    line-height: $h2-line-height-mobile;
    text-align: left;
    font-weight: $font-weight-semi-bold;
    letter-spacing: $letter-spacing;
    color: #4d4d4d;
  }

  .imag {
    display: flex;
    justify-content: center;
  }

  .img-section-6 {
    height: auto;
  }

  .list-bullet-check {
    padding-top: 1rem;
    padding-bottom: 20px;
    li {
      padding-bottom: 0.5rem;
      font-size: $p-font-size-mobile;
      line-height: $p-line-height-mobile;
      font-weight: $font-weight-regular;
    }
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
  }
}

// Media Queries

@media (min-width: 360px) {
  .section-6 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .divMejor {
      padding-bottom: 32px;
    }

    li {
      padding-bottom: 16px;
      font-size: $p-font-size-mobile;
      line-height: $p-line-height-mobile;
      font-weight: $font-weight-regular;
    }
    .h2 {
      font-size: $h2-font-size-mobile;
      line-height: $h2-line-height-mobile;
      text-align: left;
      padding-bottom: 0px;
      margin-bottom: 0px;
      text-justify: initial;
    }
    .container-fluid {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .list-bullet-check {
      li {
        line-height: 16px;
        padding-bottom: 1.5rem;
      }
    }

    .img-section-6 {
      max-width: 260px;
      margin: 1rem auto 0 auto;
    }

    .img-fluid {
      max-width: unset;
      width: 430px;
      height: auto;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-6 {
    padding: 32px 0;

    .sec6-content{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .divMejor {
      padding-left: 32px;
      padding-bottom: 0px;
    }

    .h2 {
      padding-top: 32px;
      font-size: $h2-font-size-desktop;
      line-height: $h2-line-height-desktop;
      text-align: left;
      padding-bottom: 0px;
    }
    .list-bullet-check li {
      line-height: $h2-line-height-desktop;
    }

    .img-section-6 {
      max-width: 100%;
      width: 100%;
      height: auto;
      padding-top: 48px;
      padding-bottom: 48px;
      align-self: center;
    }
    .img-fluid {
      max-width: 110% !important;
      translate: -25px 5px;
    }

    .list-bullet-check {
      li {
        font-size: $p-font-size-desktop;
        padding-bottom: 16px;
        line-height: 22px;
      }
    }

    &::after {
      display: block;
    }
  }
}

@media (min-width: $size-lg) {
  .section-6 {
    padding: 24px 0;
    
    // Los estilos de H2 se consolidan en este breakpoint para desktop
    .h2 {
      font-size: $h3-font-size-desktop;
      line-height: $h3-line-height-desktop;
      padding-bottom: 0px;
    }

    .list-bullet-check {
      li {
        font-size: $p-font-size-desktop;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section-6 {
    .divMejor {
      padding-left: 32px;
    }
    .img-fluid {
      max-height: 500px;
    }
    .h2 {
      font-size: $h2-font-size-desktop !important;
      line-height: $h2-line-height-desktop;
      padding-bottom: 0px !important;
      padding-top: 0px !important;
    }
    .list-bullet-check {
      li {
        font-size: $p-font-size-desktop;
        padding-bottom: 16px;
        padding-top: 0px;
        line-height: $p-line-height-desktop;
      }
    }
    .img-fluid {
      max-width: unset;
      width: 550px;
      height: auto;
    }
  }
}

@media (min-width: 1400px) {
  .section-6 {
    padding: 24px 0; // Ajuste para el padding en pantallas grandes

    .h2 {
      font-size: $h1-font-size-desktop;
      line-height: $h1-line-height-desktop;
    }

    .divMejor {
      padding-left: 32px;
    }
    .img-fluid {
      max-width: unset;
      width: 550px;
      height: auto;
    }
    .h2 {
      font-size: $h2-font-size-desktop !important;
      line-height: $h2-line-height-desktop;
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      padding-right: 72px;
    }
    .list-bullet-check {
      li {
        font-size: $p-font-size-desktop;
        padding-bottom: 16px;
        padding-top: 0px;
        line-height: $p-line-height-desktop;
      }
    }
  }
}