.section-5 {
  background: linear-gradient(270deg, #DCF5E4 5%, #FEFFFE 70%);
  position: relative;
  padding-top: 3rem;
  padding-bottom: 0;

  .h2 {
    font-size: $h2-font-size-mobile;
    line-height: $h2-line-height-mobile;
    text-align: center;
    font-weight: $font-weight-semi-bold;
    letter-spacing: $letter-spacing;
    color: #4d4d4d;
  }

  .imag {
    display: flex;
    justify-content: center;
  }

  .img-section-5 {
    height: auto;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
  }
}

// Media Queries

@media (min-width: 360px) {
  .section-5 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .h2 {
      padding-bottom: 16px !important;
      margin-bottom: 0px;
      text-justify: initial;
    }

    .p {
      text-align: center;
    }

    .container-fluid {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .row {
      flex-grow: 1;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
    }

    .img-section-5 {
      max-width: 260px;
      margin: 1rem auto 0 auto;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .section-5 {
    padding: 48px 0 0vw 0;

    .div-text-container {
      padding-left: 32px;
    }
    .p {
      text-align: left;
    }

    .h2 {
      padding-top: 32px;
      font-size: $h2-font-size-desktop;
      line-height: $h2-line-height-desktop;
      text-align: left;
      padding-bottom: 16px;
    }

    .img-section-5 {
      max-width: 100%;
      width: 100%;
      height: auto;
      padding-top: 48px;
      padding-bottom: 48px;
      align-self: center;
    }
    .img-fluid {
      max-width: 110% !important;
      translate: -25px 0px;
    }

    &::after {
      display: block;
    }
  }
}

@media (min-width: 992px) {
  .section-5 {
    padding: 32px 0 0 0;

    .h2 {
      font-size: $h3-font-size-desktop;
      line-height: $h3-line-height-desktop;
      padding-bottom: 0px;
      text-align: left;
      padding-top: 0px;
      padding-right: 0px;
    }

    .p {
      text-align: left;
      padding: 16px 0px 32px 0px;
    }
  }
}

@media (min-width: 991px) and (max-width: 1399px) {
  .section-5 {
    .img-fluid {
      max-height: 500px;
    }

    .section-5 {
      padding-bottom: 0;
    }
  }
}

@media (min-width: 1400px) {
  .section-5 {
    padding-bottom: 0%;

    .p {
      padding-right: 3rem;
      margin-right: 3rem;
    }

    .h2 {
      font-size: $h2-font-size-desktop !important;
      line-height: $h2-line-height-desktop;
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      padding-right: 72px;
      text-align: left;
    }

    .img-fluid {
      min-height: 350px;
    }
  }
}