
.section-5{
  background-color: #F9F9F9;
  color: #4d4d4d;
  padding: 40px 0px; 
  .h2 {
    line-height: 2.7rem !important;
  }
}

.section-5 .container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}

.section-5 .questions {
  padding-left: 12.7px;
  padding-right: 12.7px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qs{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section5 .h2 {
  padding-bottom: 30px;
  font-size: 2.7rem;
  text-align: center;
}
.section5 .p {
  padding: 0px 15px;
  text-align: center;
}

.title {
  font-size: 18px;
  line-height: 1rem;
}

.section-5 .accordion-body {
  padding: 0;
  padding-top: 10px;
  background-color: #F9F9F9;
}

@media (min-width: $size-xl) {
  .h2 {
    font-size: 2rem !important;
  }
}

.desktopBreadcrumbs { 
  display: none;
}