.section-3 {
  background: #ffffff;
  position: relative;
  text-align: center;
  padding-top: 3.75vw; // Padding responsivo

  .h2 {
    font-size: 2rem !important; // Tamaño de fuente base
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -2;
    margin-bottom: 0rem;
    color: #4D4D4D;
  }

  .p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: rem;
  }

  .imag {
    display: flex;
    justify-content: center;
  }

  .img-section-3 {
    max-width: 100%; // Imagen flexible
    padding: 0rem 0;
    height: auto;
  }

  .btnsection3 {
    // Estilos base para el botón
    display: inline-block;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    // font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #018765;
    color: #ffffff;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out;
    padding-bottom: 3.75vw;
    &:hover {
      background-color: #05634c; // Un color de ejemplo al pasar el mouse
    }
  }
}

// Media Queries

@media (min-width: $size-sm) {
  .section-3 {
    padding-top: 4vw;

    .h2 {
      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    .p {
      font-size: 0.9rem; // Ajustar tamaño del párrafo
    }

    .btnsection3 {
      font-size: 0.9rem; // Ajustar tamaño del botón
      padding: 0.5rem 1rem;
    }
  }
}

@media (min-width: $size-md) {
  .section-3 {
    padding-top: 3vw;

    .h2 {
      font-size: 2rem;
      line-height: 44px;
      padding-bottom: 16px;
    }
    .p {
      padding-top: 0 !important;
      font-size: 16px;
    }
    .img-section-3 {
      padding: 0rem 0;
      max-width: 80%; // Ajustar el ancho máximo
    }

    .btnsection3 {
      font-size: 1rem;
      padding: 0.75rem 1.25rem;
    }
  }
}

@media (min-width: $size-lg) {
  .section-3 {
    text-align: start; // Alinear el texto a la izquierda

    .p {
      padding-bottom: 32px;
    }
  }
}

@media (min-width: $size-xl) {
  .section-3 {
    .img-section-3 {
      max-width: 550px;
    }
  }
}

@media (min-width: $size-xxl) {
  .section-3 {
    padding-top: 2rem; // Volver a píxeles si es necesario

    .h2 {
      font-size: 2.2rem;
      line-height: 2.7rem;
    }

    .p {
      font-size: 1.1rem;
    }
  }
}
