.section-4 {
  background: #E5F8EA;
  position: relative;
  padding: 5vw 0; // Padding responsivo

  .h2 {
    font-size: 1.8rem; // Tamaño de fuente base
    line-height: 2.2rem;
    text-align: center; // Centrar el título en pantallas pequeñas
    //margin-bottom: 1rem; // Espacio inferior
  }

  .imag {
    display: flex;
    justify-content: center;
  }

  .img-section-4 {
    max-width: 100%; // Imagen flexible
    width: 100%;
    height: auto;
  }

  .list-bullet-check {
    padding-top: 1rem;
    padding-bottom: 2rem;

    li {
      padding-bottom: 0.5rem;
      font-size: 1rem;
    }
  }

  // Pseudo-elemento (revisar su uso)
  &::after {
    content: ""; // Necesario para que se muestre
    display: none; // Ocultar por defecto
    position: absolute;
    // ... (Estilos que tenías, pero considera si son necesarios y responsivos)
    // @include wh(223px, 153px);
    // top: 185px !important;
    // right: -140px;
  }
}

// Media Queries

@media (min-width: $size-sm) {
  .section-4 {
    padding: 4vw 0; // Ajustar padding para pantallas pequeñas

    .h2 {
      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    .list-bullet-check {
      li {
        font-size: 0.9rem; // Ajustar tamaño de la lista
      }
    }
  }
}

@media (min-width: $size-md) {
  .section-4 {
    padding: 3vw 0;

    .h2 {
      font-size: 2rem;
      line-height: 2.5rem;
      text-align: left; // Alinear a la izquierda en pantallas medianas
      //margin-bottom: 0.5rem;
    }

    .img-section-4 {
      max-width: 550px;
    }

    .list-bullet-check {
      li {
        font-size: 1rem;
      }
    }

    &::after {
      display: block; // Mostrar el pseudo-elemento en pantallas medianas
    }
  }
}

@media (min-width: $size-lg) {
  .section-4 {
    padding: 2vw 0; // Ajustar padding para pantallas grandes

    .h2 {
      font-size: 2.2rem;
      line-height: 2.7rem;
    }

    .list-bullet-check {
      li {
        font-size: 1.1rem;
      }
    }
  }
}

@media (min-width: $size-xxl) {
  .section-4 {
    padding: 10px 0; // Volver a píxeles si es necesario para pantallas muy grandes

    .h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }

    .img-section-4 {
      max-width: 550px;
      padding: 20px 0 0 0;
    }
  }
}