.section-3 {
  background: #ffffff;
  position: relative;
  text-align: center;
  padding-top: 3.75vw; // Padding responsivo

  .h2 {
    font-size: 1.75rem;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: -2;
    margin-bottom: 0rem;
  }

  .p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding-bottom: 32px;
  }

  .imag {
    display: flex;
    justify-content: center;
  }

  .img-section-3 {
    max-width: 100%; // Imagen flexible
    padding: 0rem 0;
    height: auto;
  }

  .btnsection3 {
    // Estilos base para el botón
    display: inline-block;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    // font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #018765;
    color: #ffffff;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out;
    padding-bottom: 3.75vw;
    &:hover {
      background-color: #05634c; // Un color de ejemplo al pasar el mouse
    }
  }
}

// Media Queries

@media (min-width: $size-sm) {
  .section-3 {
    padding-top: 4vw;

    .h2 {
      font-size: 1.75rem;
      line-height: 38px;
    }

    .p {
      font-size: 0.9rem; // Ajustar tamaño del párrafo
      padding-bottom: 32px;
    }

    .btnsection3 {
      font-size: 0.9rem; // Ajustar tamaño del botón
      padding: 0.5rem 1rem;
    }
    
  }
}

@media (min-width: $size-md) {
  .section-3 {
    padding-top: 3vw;
    text-align: start;

    .h2 {
      font-size: 1.75rem;
      line-height: 38px;
      padding-bottom: 0px;
    }
    .p {
      padding-top: 0 !important;
      font-size: 16px;
      margin-bottom: 0px;
      padding-bottom: 32px !important;
    }
    .img-section-3 {
      
      max-width: 106%; // Ajustar el ancho máximo
    }

    .btnsection3 {
      font-size: 1rem;
      padding: 0.75rem 1.25rem;
    }
    .divBtn{
      padding-bottom: 32px;
    }
   .image{
     
   }
  }
}

@media (min-width: $size-lg) {
  .section-3 {
    text-align: start; // Alinear el texto a la izquierda
  }
}

@media (min-width: $size-xl) {
  .section-3 {
    .img-section-3 {
      max-width: 550px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .section-3 {
    padding-top: 72px !important; // Volver a píxeles si es necesario
    max-height: 384px;
    .h2 {
      font-size: 32px;
      line-height: 44px;
      width: 320px;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 16px !important;
    }

    .p {
      font-size: 16px;
      line-height: 22px;
      padding-bottom: 32px !important;
    }
    .img-section-3 {
      max-width: 550px;
     
    }

    .btnsection3 {
      font-size: 16px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 40px;
      padding-left: 40px;
    }
    .img-section-3 {
      max-width: 84%; // Ajustar el ancho máximo
      
    }
  }
}


@media (min-width: 1400px) {
  .section-3 {
    padding-top: 72px !important; // Volver a píxeles si es necesario
    max-height: 384px;
    .h2 {
      font-size: 32px;
      line-height: 44px;
      width: 320px;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 16px !important;
    }

    .p {
      font-size: 16px;
      line-height: 22px;
      padding-bottom: 32px !important;
    }
    .img-section-3 {
      max-width: 550px;
     
    }

    .btnsection3 {
      font-size: 16px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 40px;
      padding-left: 40px;
    }
    .img-section-3 {
      max-width: 84%; // Ajustar el ancho máximo
      
    }
  }
}
