.textrow{
    text-align: center;
}

.card-groud-n3 .card{
    align-items: flex-start !important;
}

.seccion6 {
    background-color: #E6F3F0;
    .h2 {
        line-height: 2.7rem !important;
    }
}
