.section-4 {
  background: #ffffff 80%;
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  
  .h2 {
    font-size: $h2-font-size-mobile;
    line-height: $h2-line-height-mobile;
    font-weight: $font-weight-semi-bold;
    letter-spacing: $letter-spacing;
    color: #4d4d4d;
    text-align: center;
  }
  
  .list-bullet-check {
    padding-top: 1rem;
    padding-bottom: 20px;
    li {
      padding-bottom: 0.5rem;
      font-size: $p-font-size-mobile;
      line-height: $p-line-height-mobile;
      font-weight: $font-weight-regular;
    }
  }

  .imag {
    display: flex;
    justify-content: center;
  }
  
  .img-section-4 {
    width: 430px;
    height: auto;
  }
  
  &::after {
    content: "";
    display: none;
    position: absolute;
  }
}

// Media Queries
@media (min-width: 360px) {
  .section-4 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .divMejor {
      padding-bottom: 32px;
    }
    
    p {
      text-align: center;
      padding-top: 16px;
      padding-bottom: 32px;
    }

    .h2 {
      text-align: center;
      padding-bottom: 0px;
      margin-bottom: 0px;
      text-justify: initial;
    }
    
    .container-fluid {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .img-section-4 {
      max-width: 260px;
      margin: 1rem auto 0 auto;
    }
    .img-fluid {
      max-width: unset;
      width: 430px;
      height: auto;
      padding-bottom: 24px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-4 {
    padding: 48px 0;
    
    .divMejor {
      padding-left: 32px;
      padding-bottom: 0px;
    }
    
    p{
      text-align: left;
      padding-top: 16px;
      padding-bottom: 32px;
    }
    
    .h2 {
      font-size: $h2-font-size-desktop;
      line-height: $h2-line-height-desktop;
      text-align: left;
      padding-bottom: 0px;
    }
    
    .list-bullet-check li {
      line-height: $p-line-height-desktop;
      font-size: $p-font-size-desktop;
      padding-bottom: 16px;
    }
    
    .img-section-4 {
      max-width: 100%;
      width: 100%;
      height: auto;
      padding-top: 48px;
      padding-bottom: 48px;
      align-self: center;
    }
    .img-fluid {
      max-width: 110% !important;
      translate: -25px 25px;
    }
    
    &::after {
      display: block;
    }
  }
}

@media (min-width: $size-lg) {
    .section-4 {
        padding: 72px 0;

        .p{
          padding-top: 16px;
          padding-bottom: 32px;
        }
        
        .h2 {
            font-size: $h2-font-size-desktop;
            line-height: $h2-line-height-desktop;
            padding-bottom: 0px;
        }
        
        .list-bullet-check {
            li {
                font-size: $p-font-size-desktop;
            }
        }
    }
}


@media (min-width: 991px) and (max-width: 1399px) {
  .section-4 {

    .divMejor {
      padding-left: 32px;
    }

    .img-fluid {
      max-width: unset;
      width: 550px;
      height: auto;
    }

    .h2 {
      font-size: $h2-font-size-desktop !important;
      line-height: $h2-line-height-desktop;
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      text-align: left;
    }
    
    p{
      text-align: left;
      padding-top: 16px;
      padding-bottom: 32px;
    }
  }
}

@media (min-width: 1400px) {
  .section-4 {
    padding: 24px 0px 32px 0px;
    
    .divMejor {
      padding-left: 32px;
    }
    
    .h2 {
      font-size: $h1-font-size-desktop;
      line-height: $h1-line-height-desktop;
      text-align: left;
    }
    
    p {
      text-align: left;
      padding-right: 3rem;
    }
    
    .img-section-4 {
      max-width: 550px;
      padding: 20px 0 0 0;
    }
    
    .img-fluid {
      max-width: unset;
      width: 550px;
      height: auto;
      max-height: 500px;
    }
    
    .h2 {
      font-size: $h2-font-size-desktop !important;
      line-height: $h2-line-height-desktop;
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      padding-right: 72px;
      text-align: left;
    }
  }
}