.icon-party {
  background: url('https://www.lafise.com/landings/img/icono_thank_you_page.gif') no-repeat 50%;
  height: 208px;
  width: 100%;
  display: block;
  background-size: auto 100%;
}
.bg-gradient-primary {
  background: -webkit-gradient(linear,left top,left bottom,from(#31B773),to(#00583C));
  background: linear-gradient(180deg,#31B773 0%,#00583C 100%);
}

.text-w {
  color: #FFF;
  font-size: 1rem;
}

.text-w:hover {
  color: #220a7b;
  text-decoration: none;
}

@media (min-height: 728px) {
  .bg-gradient-primary {
    min-height: calc(100vh - 80px - 108px);
  }
}

