.breadcrumbs {
    padding-left: 0; /* Por defecto, no padding */
  }
  
/* Mobile first approach */
.breadcrumbs {
  padding-left: 1rem; /* Mobile default */
}

/* Tablet */
@media (min-width: 568px) {
  .breadcrumbs {
    padding-left: 2rem;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .breadcrumbs {
    padding-left: 6rem;
  }
}
