.btnsection3 {
  background-color: #018765;
  color: #ffffff;
  padding: 16px 40px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.btnsection3:hover {
  border-color: #018765 !important;
  border: 1px !important;
  background-color: #00583c;
  color: #ffffff;
}

.btn-light {
  border: 1px!important;
}

.btn {
  color: #018765!important;
  background-color: #ffffff!important;
  border-color: #ffffff;
  padding: 12px 20px !important;
  font-size: 1rem !important;
}

.btn:hover {
  color: #ffffff!important;
  background-color: #00583c!important;
  border-color: #ffffff;
}

.btn-light:hover{
  background:#00583C!important;
  color: #018765;
  border-color: #00583C;
  border: 1px!important;
}