// home - sin mixins - sin !important

.hero-home {
  height: 700px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #018765;
  z-index: 1000;
  overflow: hidden;
  position: relative;
  align-items: center;
  text-align: center;
}

.text-white {
  color: #ffffff;
  padding: 0;
  font-size: 1.7rem;
  line-height: 2.2rem;
  margin-bottom: 1rem;
  grid-row: 1; // Text in first row
}

.h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  grid-row: 1; // Text in first row
}

.btn-light {
  background-color: #fff;
  color: #018765;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  grid-row: 1; // Button in first row
}

.hero-home::before {
  content: '';
  position: absolute;
  top: auto; // Position at the bottom
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 10000;
  opacity: 1;
  background-image: url('/imagenes/banner-footage/bkg-blhn-banner-grl-seccion01-certificado-deposito-desktop-031124-01@1x.webp');
  grid-row: 2; // Image in second row
}

@media (min-width: 768px) {
  .hero-home {
    height: 700px;
    text-align: center;
  }

  .text-container {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
  }

  .hero-home::before {
    content: '';
    position: absolute;
    top: auto; // Position at the bottom
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 10000;
    opacity: 1;
    background-image: url('/imagenes/banner-footage/bkg-blhn-banner-grl-seccion01-certificado-deposito-desktop-031124-01@1x.webp');
    grid-row: 2; // Image in second row
  }

  .text-white {
    font-size: 2.2rem;
    line-height: 2.75rem;
  }

  .h4 {
    font-size: 1.2rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1200px) {
  .hero-home::before {
    background-image: url('/imagenes/banner-footage/bkg-blhn-banner-grl-seccion01-certificado-deposito-desktop-031124-01@2x.webp'); // Imagen for desktop
  }
}

@media (min-width: 1440px) {
  .hero-home::before {
    background-image: url('/imagenes/banner-footage/bkg-blhn-banner-grl-seccion01-certificado-deposito-desktop-031124-01@2x.webp'); // Imagen for desktop
  }
}