/* Sección principal con altura mínima para asegurar anclaje */
.hero-section {
  // min-height: 100vh;
  display: flex;
  align-items: stretch;
  background-color: #FEF7EC !important;
}

.herodiv{
  padding-bottom: 32px;
}

/* Asegura que container y row llenen el alto */
.hero-section .container,
.hero-section .row {
  height: 100%;
}

.color1 {
  color: #4D4D4D;
}

.color2 {
  color: #018765;
}

.btn-cta {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  width: 250px;
  border-radius: 0.25rem !important;
  padding-bottom: 72px;
  text-align: center !important;
}

/* Alineación del botón para desktop */
@media (min-width: 992px) {
  .btn-cta {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    align-self: center;
    padding-bottom: 72px;
    width: 250px;
  }
}

.banner-image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 0;
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0;
  align-self: flex-end;
}

/* ======================== */
/* Tipografía personalizada */
/* ======================== */

.banner-title {
  // Mobile First
  font-size: $h1-font-size-mobile;
  line-height: $h1-line-height-mobile;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing !important;
  text-align: center;
}

.banner-subheading {
  // Mobile First
  font-size: $p-font-size-mobile;
  line-height: $p-line-height-mobile;
  font-weight: $font-weight-regular;
  max-width: 90%;
  margin: 0 auto 1.5rem auto;
  text-align: center;
}

/* x-Small (≥360px) */
//576
@media (min-width: 360px) {

  .hero-section .container,
  .hero-section .row {
    height: 100%;
    // min-height: 100vh;
  }

  .banner-title {
    font-size: $h1-font-size-mobile;
    line-height: $h1-line-height-mobile;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 32px;
  }

  .banner-subheading {
    padding-top: 5%;
    font-size: $p-font-size-mobile;
    line-height: $p-line-height-mobile;
    font-weight: $font-weight-regular;
    max-width: 80%;
    padding-bottom: 32px;
    margin-bottom: 0px;
  }

  .btn-cta {
    align-self: center;
    width: 240px;
  }
}

/*Small (≥577px) */
@media (min-width: 577px) and (max-width: 767) {
  .banner-title {
    font-size: $h1-font-size-mobile;
    line-height: $h1-line-height-mobile;
    font-weight: $font-weight-semi-bold;
    letter-spacing: -1px;
    padding-top: 0px;
  }

  .banner-subheading {
    font-size: $h3-font-size-mobile;
    line-height: $h3-line-height-mobile;
    padding-bottom: 32px;
    margin-bottom: 0px;
  }

  .btn-cta {
    align-self: center;
  }
}

/* Medium (768px - 991px) */
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h1 {
    padding-top: 47px;
    font-size: $h2-font-size-desktop;
    line-height: $h2-line-height-desktop;
    font-weight: $font-weight-semi-bold;
    letter-spacing: -1px;
  }

  .p {
    line-height: $p-line-height-desktop;
    font-weight: $font-weight-regular;
    padding-bottom: 0%;
  }

  .hero-section .container,
  .hero-section .row {
    height: 450px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
  }

  .col-12.col-lg-6 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0rem;
  }

  .banner-title {
    font-size: $h3-font-size-desktop;
    line-height: $h3-line-height-desktop;
    text-align: left;
    margin-left: 0;
    max-width: 100%;
    padding-left: 40px;
    padding-top: 0px;
  }

  .banner-subheading {
    font-size: $p-font-size-desktop;
    line-height: $p-line-height-desktop;
    text-align: left;
    margin-left: 0;
    padding-left: 40px;
    padding-top: 16px;
    padding-bottom: 32px;
    margin-bottom: 0px;
  }

  .btn-cta {
    margin-bottom: 0px;
    align-self: flex-start;
    font-size: 1rem;
    margin-left: 0px;
    width: 240px;
  }

  .btahero {
    margin-left: 40px;
    margin-bottom: 25px;
  }

  .banner-image-container,
  .col-12.col-lg-6.p-0 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 993px) {
    .btn-cta {
      .p {
        font-size: $p-font-size-desktop;
      }
    }
  }
}

/* Large (992px - 1399px) */
@media (min-width: 1200px) and (max-width: 1399px) {

  .banner-title {
    font-size: $h2-font-size-desktop;
    line-height: $h2-line-height-desktop;
    text-align: left;
    padding-top: 42px;
  }

  .banner-subheading {
    font-size: $p-font-size-desktop;
    line-height: $p-line-height-desktop;
    text-align: left;
    margin-left: 0;
    padding-left: 22px;
    padding-top: 16px;
  }

  .btahero {
    margin-left: 20px !important;
  }


  .btn-cta {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    align-self: flex-start;
    margin-left: 0px;
    width: 240px;
  }
}

/* Extra Large (≥1400px) */
@media (min-width: 1400px) {
  .banner-title {
    font-size: $h1-font-size-desktop;
    line-height: $h1-line-height-desktop;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 47px;
    padding-right: 0px;
  }

  .banner-subheading {
    margin-top: 0;
    font-size: $p-font-size-desktop;
    text-align: left;
    margin-left: 47px;
    margin-bottom: 0px;
    padding-top: 16px;
    padding-bottom: 32px;
    line-height: 27px;
    padding-right: .5rem;
  }

  .btn-cta {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    align-self: flex-start;
    width: 240px;
  }

  .ctahero {
    margin-left: 47px;
  }
}